
<h2>Add Recipe</h2>
<form action="/recipes" method="post">
<p>Name </p><input type="text"  name="name">
<p>Ingredients </p><input type="text"  name="ingredients">
<p>Cook time</p> <input type="text"  name="cook_time">
<input id="submit" type="submit">
</form>
